
body {
	backgroup-color: #ACE4AA;

}

h1 {
	color:#585a5e;
	text-align:center;
	font-family:"Montserrat"
	font-size: 60px;
}

p, li, a {
	font-family: "Montserrat", serif;
	font-size: 18px;
}

a:hover {
	color: 484D6D;
}
	
		
